th {
  text-align: right;
  background: white;
}

table, th, td {
  border: 3px solid white;
  background-color: white;
  font-size: 24px;
}

body {
  background-color: black;
  padding: 50px
}

.header {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
}

.button-central{
  background: white;
  width: 100px;
  height: 50px;
}

.button-side {
  background: orange;
  width: 100px;
  height: 50px;
}

.button-top {
  background: lightgray;
  width: 100px;
  height: 50px;
}

.button-zero{
  background: white;
  width: 205px;
  height: 50px;
}

#calculatorFrame{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  background: white;
  padding: 10px;
  border-radius: 1px;
}

#textview {
  width: 414px;
  height: 50px;
  font-size: 25px;
  margin: 1px;
}

.button-central:hover {
  background-color: lightgray;
}

.button-top:hover {
  background-color: darkgray;
}

.button-zero:hover {
  background-color: lightgray;
}

.button-side:hover {
  background-color: darkorange;
}
